<footer>
    <div class="social-links">
        <h3>Connect with me:</h3>
        <div class="socials">
            <a href="https://github.com/bloodraven21" target="_blank">GitHub</a>
            <a href="https://www.instagram.com/bloodraven.2112" target="_blank">Instagram</a>
            <a href="https://linkedin.com/in/ishan-jain21" target="_blank">LinkedIn</a>
            <a href="https://open.spotify.com/user/ombme5qsyz04e8n48iq44wbfz?si=DFRZ2KWrRJCXE7xWZItmrg" target="_blank">Spotify</a>
            <a href="https://x.com/bloodravendev" target="_blank">Twitter</a>
            <!-- Add more social links as needed -->
        </div>
    </div>
</footer>